[user]
	name = ensonmj
	email = ensonmj@gmail.com
[core]
	autocrlf = input
	safecrlf = true
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
