[user]
	name = ensonmj
	email = ensonmj@gmail.com
[core]
	autocrlf = input
	safecrlf = true
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%C(auto)%h %ad | %s%d [%an]' --graph --date=short --all
	type = cat-file -t
	dump = cat-file -p
	sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
[color]
	ui = true
[http]
	sslVerify = false
