layout {
    // pane size=1 borderless=true {
    //     plugin location="tab-bar"
    // }
    // pane size=1 borderless=true {
    //     plugin location="compact-bar"
    // }
    // pane split_direction="vertical" {
    //     pane
    //     pane split_direction="horizontal" {
    //         pane
    //         pane
    //     }
    // }
    // pane size=2 borderless=true {
    //     plugin location="status-bar"
    // }
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left   "{mode} #[fg=#89B4FA,bold]{session}"
                format_center "{tabs}"
                // format_right  "{pipe_zjstatus_hints}{command_git_branch} {datetime}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""

                // pipe_zjstatus_hints_format "{output}"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                // mode_normal        "⚡"
                // mode_locked        "  ^+g: normal"
                // mode_resize        "  n: normal h: i  j: i  k: i  l: i  H: d  J: d  K: d  L: d  =: inc. -: dec."
                // mode_pane          "  n: new d: new  r: new  p: focus w: float e: embed f: full-screen c: rename x: close"
                // mode_tab           "  n: new r: rename l:   h:   x: close s: sync b: break p. 󰅪: break r. 󰅪: break l.  : toggle"
                // mode_scroll        " e: edit s: search ^+c: bottom j:  k:   ^+f: pg.  ^+b: pg.  d: half  u: half "
                // mode_enter_search  "  #[italic]search..."
                // mode_search        "  j:   k:   ^+f: pg.  ^+b: pg.  d: half  u: half  n: next p: prev c: case w: wrap o: word"
                // mode_rename_tab    "  (rename) ^+c: normal esc: undo"
                // mode_rename_pane   "  (rename) ^+c: normal esc: undo"
                // mode_session       "  ^+o: normal ^+s: scroll d: detach w: manager"
                // mode_move          "  ^+x: normal (n, ): move p: backwards h:   j:   k:   l: "
                // mode_prompt        ""
                // mode_tmux          ""

                mode_locked      "#[bg=#6e5fb7,fg=#ffffff,bold] ❤ "
                mode_normal      "#[bg=#aa87fe,fg=#3c01cd,bold] ❤ NORMAL "
                mode_resize      "#[bg=#ff9969,fg=#7f3513,bold] ❤ RESIZE "
                mode_pane        "#[bg=#9FFBB6,fg=#30563a,bold] ❤ PANE "
                mode_move        "#[bg=#FFD896,fg=#905b00,bold] ❤ MOVE "
                mode_tab         "#[bg=#80BDFF,fg=#0051a8,bold] ❤ TAB "
                mode_scroll      "#[bg=#412da2,fg=#c9c0ff,bold] ❤ SCROLL "
                mode_search      "#[bg=#e28e00,fg=#ffe9c4,bold] ❤ SEARCH "
                mode_entersearch "#[bg=#e28e00,fg=#ffe9c4,bold] ❤ ENTER SEARCH "
                mode_renametab   "#[bg=#0051a8,fg=#80BDFF,bold] ❤ RENAME TAB "
                mode_renamepane  "#[bg=#30563a,fg=#9FFBB6,bold] ❤ RENAME PANE "
                mode_session     "#[bg=#FF87A5,fg=#7d001f,bold] ❤ SESSION "
                mode_tmux        "#[bg=#c9c0ff,fg=#412da2,bold] ❤ TMUX "

                // formatting for inactive tabs
                tab_normal              "#[fg=#6C7086] {index} :: {name} "
                tab_normal_fullscreen   "#[fg=#6C7086] {index} :: {name} [] "
                tab_normal_sync         "#[fg=#6C7086] {index} :: {name} <> "

                // formatting for the current active tab
                tab_active              "#[fg=#9399B2,bold,italic] {name} {floating_indicator}"
                tab_active_fullscreen   "#[fg=#9399B2,bold,italic] {name} {fullscreen_indicator}"
                tab_active_sync         "#[fg=#9399B2,bold,italic] {name} {sync_indicator}"

                // separator between the tabs
                tab_separator           "#[fg=#6C7086,bg=#181825] | "

                // format when renaming a tab
                tab_rename              "#[fg=#eba0ac,bg=#181825] {index} {name} {floating_indicator} "

                // indicators
                tab_sync_indicator       "<> "
                // tab_fullscreen_indicator "[] "
                // tab_floating_indicator   "⬚ "
                tab_fullscreen_indicator " "
                tab_floating_indicator " "

                // limit tab display count
                tab_display_count         "3"  // limit to showing 3 tabs
                tab_truncate_start_format "#[fg=red,bg=#181825] < +{count} ..."
                tab_truncate_end_format   "#[fg=red,bg=#181825] ... +{count} >"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime          "#[fg=#6C7086,bold] {format} "
                datetime_format   "%A, %d %b %Y %H:%M"
                datetime_timezone "Asia/Shanghai"
            }
        }
        // pane size=2 borderless=true {
        //     plugin location="status-bar"
        // }
    }
    // tab name=""
}
