[Desktop Entry]
Type=Application
Version=0.0.1
Name=Conky
NoDisplay=true
Comment=Conky autostart script
Exec=sh -c "conky -d -p 5 -c $HOME/.config/conky/conky.conf"
